<div class="details ">

<!-- <h1>{{  }}</h1>
<p>{{  }}</p> -->
<p>type: {{ project.type }}</p>
<p>coding: {{ project.coding }}</p>
<p>design: {{ project.design }}</p>
<p>development: {{ project.development }}</p>
<p>URL: {{ project.url }}</p>

</div>
