<template src="./details.template.html"></template>

<script>
import projectsData from '../projects/projects.data';

export default {
    name: 'details',
    data() {
        return { project: null };
    },
    created() {
        const { projects } = projectsData;
        const { projectId } = this.$route.params;
        this.project = projects[projectId];
    }
};
</script>

<style src="./details.style.scss" lang="scss" scoped></style>
