<div class="projects view">
    <section>
        <header class="profile-card">
            <!-- <figure class="picture">
                <img height="125" width="125" src="../../assets/images/portrait.png">
            </figure> -->
            <div class="details">
                <h1>SJK</h1>
                <p v-for="pharagraph in projects.summary" v-html="pharagraph"></p>

            </div>
        </header>
        <article class="main">

          <ul>
            <li v-for="(project, id) in projects.projects">
              <router-link :to="{ name: 'details', params: { projectId: id }}">{{ project.name }}</router-link>
            </li>
          </ul>

            <!-- <p v-for="pharagraph in home.summary" v-html="pharagraph"></p> -->
        </article>
        <footer>

        </footer>
    </section>
</div>
