<template src="./projects.template.html"></template>


<script>
    import projects from './projects.data';
    // import Details from './../project-detail/Detail';
    // import store from '../../store';
    // import Spinner from '../../components/spinner/Spinner';
    // import CONSTANTS from '../../utils/constants';
    // import { GithubRes } from '../../resources';

    export default {
        name: 'projects',
        metaInfo: {
            title: 'Projects'
        },
        data() { return { projects }; }
    };
</script>

<style src="./projects.style.scss" lang="scss" scoped></style>
