@import '../../styles/variables';
$translationX: $sidenav-width;
$paddingX: 30px;
$paddingY: 85px;
.sidenav-wrapper {
    .sidenav-container {
        @include common-transition;
        z-index: $second-layer;
        position: fixed;
        right: 0;
        top: 0;
        background-color: $soft-white-color;
        width: $sidenav-width;
        height: 100%;
        transform: translate3d($translationX, 0px, 0px);
        padding: $paddingY $paddingX;
        &.opened {
            transform: translate3d(0px, 0px, 0px);
        }
        ul {
            border-top: 2px solid $orange-color;
            li {
                margin: 30px 0px;
                font-family: Lato, serif;
                font-size: 20px;
                &:hover {
                    cursor: pointer;
                }
                &.selected {
                    font-weight: bold;
                }
            }
        }
    }
}
