<template src="./home.template.html"></template>

<script>
    import home from './home.data';

    export default {
        name: 'home',
        metaInfo: {
            // title will be injected into parent titleTemplate
            title: 'Home'
        },
        data() { return { home }; }
    };
</script>

<style src="./home.style.scss" lang="scss" scoped></style>
