<div class="home view">
    <section>
        <header class="profile-card">
            <!-- <figure class="picture">
                <img height="125" width="125" src="../../assets/images/portrait.png">
            </figure> -->
            <div class="details" v-html>
                <h1>{{home.name}}</h1>
                <!-- <h2>Software Developer</h2> -->
            </div>
        </header>
        <article class="main">
            <p v-for="pharagraph in home.summary" v-html="pharagraph"></p>
        </article>
        <footer>
            <ul>
                <li class="link" v-for="link in home.links">
                    <i :class="link.icon"></i>
                    <a target="_blank" :href="link.url">{{ link.text }}</a>
                </li>
            </ul>
        </footer>
    </section>
</div>
