@import '../../styles/variables';
.backdrop-container {
    @include common-transition;
    z-index: $backdrop-layer;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $backdrop-color;
}
