<style lang="scss">

@import './styles/global.scss';

</style>

<template>

<div id="app">
    <backdrop></backdrop>
    <sidenav></sidenav>
    <transition name="viewFade" appear>
        <router-view></router-view>
    </transition>
</div>

</template>

<script>

import Backdrop from './components/backdrop/Backdrop';
import Sidenav from './components/sidenav/Sidenav';

export default {
    name: 'app',
    metaInfo: {
        // if no subcomponents specify a metaInfo.title, this title will be used
        title: 'Stephen Kempin',
        // all titles will be injected into this template
        titleTemplate: '%s | Stephen Kempin'
    },
    components: {
        Backdrop,
        Sidenav
    }
};

</script>
